# Ignore large file intermediates except DADA2 output.
/workflow/out/demux
/workflow/out/filtered
/workflow/out/trimmed
/workflow/out/**/filtered

# Ignore large numbers of individual OTU and family plots.
/analysis/individualOTUPlots/*
/analysis/individualFamilyPlots/*

# Don't ignore code for generating these plots.
!/analysis/individualOTUPlots/plotIndividualOTUs.R
!/analysis/individualFamilyPlots/plotIndividualFamilies.R

# Ignore snakemake log files.
.snakemake
.Rhistory

# Ignore slurm log files.
slurmLogs

# Don't ignore any .gitignore files.
!*.gitignore
analysis/mixtureDataframe.txt
